/* div{
    border: 1px black solid;
    min-height: 20%;
} */


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

img{
    width: 20vw;
}

a{
    color: black;
}


.whole_page{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 0.3fr 2fr 0.1fr;
}

.top{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/* ~~~~~~~~~~~~~ top ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.wood{
    background-image: url("wood.jpg");
    box-shadow: 0px 3px 5px 0px #0A445D;
    z-index: 1;
}

.big_title{
    background-image: linear-gradient(#022BD5, #02679B, #022BD5);

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left{
    display: grid;
    background-image: url("light_left.png");
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.titles{    
    text-align: right;
    
    margin-top: auto;
    margin-bottom: auto;
    /* padding: 10%; */
}

.titles p{
    margin:0;
    padding:0;    
}

.half_size{
    text-align: right;
    font-size: 200%;
    padding: 1%;
    background-color: #FECC01;
    margin: auto;
}

.half_size > p{
    margin:0;
}

.big_size{
    color: #F89C03;
    font-size: 400%;
    padding-right: 10%;
}

.right{
    background-image: url("flash_right.png");
    background-size: cover;
    /* background-size: 50%; */
    background-position: left top;
    background-repeat: no-repeat;

    margin-bottom: 0;
}

.right > img{
    width: 7vw;
    padding-left: 3vw;   
    padding-top: 12vh;
    position: absolute;
}

.menu{
    background-color: #022BD5;
    /* color: white; */
    padding-left: 20%;
    padding-right: 20%;
    /* padding-top: 5%; */
    padding-bottom: 3%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.menu div{
    border: black 1px solid;
    background-color: #FFD101;
    background-image: linear-gradient(#FFD101, #FFD101, #FE7611);
}

.menu > div > p{
    text-align: center;
}

.phone{
    color: red;
}

.middle{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* ~~~~~~~~~~~~~ middle ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content{
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr 1fr;
    padding: 5%;
}

.dog{
    text-align: center;
    background-color: #FD67CB;
    border-radius: 20%;
    font-size: 150%;
}

.white{
    color: white;
}

.para{
    padding: 5%;
    margin: auto;
}

.p1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.p2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.p3{
    display: grid;
    grid-template-columns: 1fr 3fr;
}



.sidebar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 5%;
    margin: 5%;

    background-color: #FFCC00; 
}

.point{
    text-align: center;
    margin: 3%;
}

.point h1{
    text-align: center;
}

.point h2{
    text-align: center;
}

.num{
    color: #2B7693;
    font-size: 150%;
}

.image{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}

.bottom{
    background-image: url("wood.jpg");
}