p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
    font-family: URW Chancery L, cursive;
    color: #003300;
    margin-left: auto;
    margin-right: auto;
}

p::first-letter {
    font-size: 250%;
}

h1, h2, h3, h4, h5 {
    text-align: center; 
    font-style: normal; 
    font-weight:normal; 
    line-height: 1.5; 
    margin-top: .5em; 
    margin-bottom: .5em;
    font-family: Palatino, URW Palladio L, serif;
    color: #333300;
}

img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 60%;
}

div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}

div.chapter {
    border: #003300 2px;
    border-style: double;
    padding: 10%;
}

body {
    background-image: url('images/bg.jpg');
}

a{    
    color: #333300;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: URW Chancery L, cursive;
}


