/* div{
    border: 1px black solid;
    min-height: 20%;
} */


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

img{
    width: 20vw;
}

a{
    color: white;
}


.whole_page{
    display: grid;
    grid-template-rows: 1fr 2fr 0.1fr;
    font-family: Bookman, URW Bookman L, serif;
}

.top{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

/* ~~~~~~~~~~~~~ top ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.wood{
    background-image: url("wood.jpg");
    box-shadow: 0px 3px 5px 0px #0A445D;
    z-index: 1;
}

.big_title{
    background-image: linear-gradient(#197FC1, #02679B, #146BA1);

    display: grid;
    grid-template-columns: 5fr 4fr;
}

.left{
    display: grid;
}

.titles{    
    text-align: right;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10%;
    text-shadow: 0 0 1em #fff, 0 0 1em #ff4da6, 0 0 2em #ff4da6, 0 0 3em #ff4da6, 0 0 4em #ff4da6, 0 0 5em #ff4da6, 0 0 6em #ff4da6;
    
}

.titles p{
    margin:0;
    padding:0;    
}

.half_size{
    font-size: 200%;
    padding-right: 10%;
}

.big_size{
    font-size: 400%;
    padding-right: 10%;
}

.right{
    background-image: url("tony.png");
    background-size: contain;
    /* background-size: 50%; */
    background-position: left bottom;
    background-repeat: no-repeat;
}

.menu{
    background-image: linear-gradient(#2E393E, #605D5B);
    box-shadow: 0px -3px 5px 0px #0A445D;
    color: white;
    padding-left: 20%;
    padding-right: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    
}

.menu p{
    margin: auto;
}

.phone{
    color: red;
}

.middle{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* ~~~~~~~~~~~~~ middle ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5%;
}

.para{
    padding: 5%;
    margin: auto;
}

.p1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.p2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.p3{
    display: grid;
    grid-template-columns: 1fr 3fr;
}



.sidebar{
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 5%;
}

.point{
    background-color: #EFEFEF; 
    text-align: center;
    margin: 3%;
}

.point h1{
    text-align: center;
}

.point h2{
    text-align: center;
}

.num{
    color: #2B7693;
    font-size: 150%;
}

.image{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}

.bottom{
    background-image: url("wood.jpg");
}